/*@import './assets/fonts.css';*/ 
*:not(i):not(.anticon) {
  font-family: 'Alexandria-Regular';
  /* font-size: 14px; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Alexandria-SemiBold' !important;
}

.App {
  text-align: center;
}
.container-a{  
  height: auto;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text-box{
  margin-top: 6rem;
  margin-right: 2rem;
}

.btn {
  border-radius: 10px !important;
  padding: 9px 24px !important;
  font-weight: 600;
  transition: all 300ms;
}

.btn-primary {
 background-color: #7D05ED !important;
 border: 1px solid #7D05ED !important;
}
