.App {
  text-align: center;
}
.container-a{  
  height: auto;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text-box{
  margin-top: 6rem;
  margin-right: 2rem;
}
